<%# Build reset password URL on the correct host: tenant subdomain when user has an org, otherwise admin portal %>
<% reset_org = Organization.find_by(owner_id: @resource.id) %>
<% reset_org ||= @resource.organization_memberships.active.joins(:organization).merge(Organization.kept).first&.organization %>
<% if reset_org.present? %>
  <% if Rails.env.development? %>
    <% reset_host = "#{reset_org.subdomain}.localhost" %>
    <% reset_port = Rails.application.config.action_mailer.default_url_options[:port] || 3000 %>
  <% else %>
    <% reset_host = "#{reset_org.subdomain}.holisticbusinesssolution.com" %>
    <% reset_port = nil %>
  <% end %>
  <% reset_url_opts = { host: reset_host, protocol: Rails.env.development? ? "http" : "https" } %>
  <% reset_url_opts[:port] = reset_port if reset_port.present? %>
  <% edit_password_url_final = edit_password_url(@resource, reset_url_opts.merge(reset_password_token: @token)) %>
<% else %>
  <% if Rails.env.development? %>
    <% reset_host = "admin.localhost" %>
    <% reset_port = Rails.application.config.action_mailer.default_url_options[:port] || 3000 %>
  <% else %>
    <% reset_host = "admin.holisticbusinesssolution.com" %>
    <% reset_port = nil %>
  <% end %>
  <% reset_url_opts = { host: reset_host, protocol: Rails.env.development? ? "http" : "https" } %>
  <% reset_url_opts[:port] = reset_port if reset_port.present? %>
  <% edit_password_url_final = edit_password_url(@resource, reset_url_opts.merge(reset_password_token: @token)) %>
<% end %>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url_final %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
